body{
background-color: #F1EEE3;
animation: fadeInAnimation ease 3s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
margin: 0px auto;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

body:hover {
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, wheat 2px, transparent 2px),
    linear-gradient(to bottom, wheat 2px, transparent 2px);
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}

.first{
    font-size:20px;
    font-family: "Akzidenz Grotesk", Sans-serif;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 2em;
    position:absolute;
    left:50%;
    top:10%;
    margin: 0px auto;
}

.first:hover{
background-color: black;
margin: 0px auto;
}
