body {
  background: lightsteelblue;
  margin: 0;
  padding: 0;
  color: #999;
}

#wrap {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.text{
  position:relative;
  width: 1700px;
 height: 7000px;
}

.one {
  color: black;
  font-size:17px;
  font-family: "Akzidenz-Grotesk", sans-serif;
    text-align: left;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 2em;
    position: absolute;
    left:12%;
    top:3.3%;
    z-index: 2;
}


.two {
  color: black;
  font-size:19px;
  font-family: "times", sans-serif;
    text-align: left;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 2em;
    position: absolute;
    top:10%;
    left: 60%;
    z-index: 2;
}

.three {
  color: black;
  font-size:19px;
  font-family: "Akzidenz-Grotesk", sans-serif;
    text-align: left;
    letter-spacing: 0.1em;
    line-height: 2em;
    position: absolute;
    left: 1%;
    top:13%;
    z-index: 2;
}

.three:hover{
background-color: white;
margin: auto;
}

.four {
  color: black;
  font-size:19px;
  font-family: "times", sans-serif;
    text-align: left;
    letter-spacing: 0.1em;
    line-height: 2em;
    position: absolute;
    left: 60%;
    top:16%;
    z-index: 2;
}

.container1 {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 700px;
  max-height: 600px;
  top:20%;
  left:25%;
}

.container1:hover{
background-color: black;
margin: auto;
transition: .3s ease;
}

.body1 {
  font-size:20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-size: 11px;
  letter-spacing: 0.08em;
  font-family: "Akzidenz Grotesk", Sans-serif;
  color: lightsteelblue;
}

.five {
  font-size:20px;
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-family: "Akzidenz Grotesk", Sans-serif;
  text-align: left;
  letter-spacing: 0.1em;
    line-height: 2em;
    position: absolute;
    left: 27%;
    top:29%;
    z-index: 2;
}


.six {
  color: black;
  font-size:19px;
  font-family: "times", Sans-serif;
  font-size: 20px;
  overflow: hidden;
  border-right: .10em solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 12s steps(100, end),
    blink-caret .6s infinite;
    animation-iteration-count: infinite;
    position: absolute;
    left: 10%;
    top:37%;
    z-index: 2;
    border-style: solid;
    border-width: 2px;

}

@keyframes typing {
  from { width: 0 }
  to { width: 70% }
}


.seven {
  color: red;
  font-size:19px;
  font-family: "Akzidenz-Grotesk", sans-serif;
    text-align: left;
    letter-spacing: 0.1em;
    line-height: 2em;
    position: absolute;
    left: 18%;
    top:37%;
    z-index: 2;
    transform: rotate(-50deg);
}

.eight {
  color: white;
  font-size:15.9px;
  font-family: "optima", sans-serif;
    text-align: left;
    letter-spacing: 0.1em;
    line-height: 2em;
    position: absolute;
    align: left;
    top:44%;
    left: 0.5%;
    z-index: 2;
}

.nine {
  color: black;
  font-size:19px;
  font-family: "Akzidenz-Grotesk", sans-serif;
    text-align: right;
    letter-spacing: 0.1em;
    line-height: 2em;
    position: absolute;
    left: 3%;
    top:52%;
    z-index: 2;
    transform: rotate(-90deg);
}

.ten {
  color: black;
  font-size:19px;
  font-family: "Akzidenz-Grotesk", sans-serif;
    text-align: left;
    letter-spacing: 0.1em;
    line-height: 2em;
    position: absolute;
    left: 32%;
    top:46.9%;
    z-index: 2;
    text-align: left;
}

.eleven {
  color: black;
  font-size:19px;
  font-family: "Akzidenz-Grotesk", sans-serif;
    text-align: left;
    letter-spacing: 0.1em;
    line-height: 2em;
    position: absolute;
    left: 26%;
    top:53%;
    z-index: 2;
    text-align: left;
    transform: rotate(-43deg);

}

.twelve {
  color: red;
  font-size:18px;
  font-family: "Akzidenz-Grotesk", sans-serif;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 2em;
    position: absolute;
    left: 36.3%;
    top:50.8%;
    z-index: 2;
}

.thirteen {
  color: black;
  font-size:18px;
  font-family: "Optima", sans-serif;
  font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 2em;
    position: absolute;
    left: 13%;
    top:62%;
    z-index: 2;
}

.fourteen {
  color: black;
  font-size:18px;
  font-family: "Optima", sans-serif;
  font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 2em;
    position: absolute;
    left: 57%;
    top:62%;
    z-index: 2;
}

.fifteen {
  color: black;
  font-size:18px;
  font-family: "times", sans-serif;
    text-align: center;
    font-style: bold;
    letter-spacing: 0.1em;
    line-height: 4em;
    position: absolute;
    left: 39%;
    top:61%;
    z-index: 2;
}

.sixteen {
  color: black;
  font-size:95px;
  font-family: "times", sans-serif;
    text-align: center;
    font-style: bold;
    letter-spacing: 0.1em;
    line-height: 2em;
    position: absolute;
    left: 5.3%;
    top:65%;
    z-index: 2;
}

.vertical_line{
  border-left: 6px solid white;
 height: 500px;
 position: absolute;
 left: 43%;
 top: 67%;
 z-index: 2;
}

.seventeen {
  color: black;
  font-size:19px;
  font-family: "Akzidenz-Grotesk", sans-serif;
    text-align: center;
    font-style: bold;
    letter-spacing: 0.1em;
    line-height: 2em;
    position: absolute;
    left: 5.3%;
    top:70%;
    z-index: 2;
}

.eighteen {
  color: black;
  font-size:19px;
  font-family: "Akzidenz-Grotesk", sans-serif;
    text-align: center;
    font-style: bold;
    letter-spacing: 0.1em;
    line-height: 2em;
    position: absolute;
    left: 50.3%;
    top:70%;
    z-index: 2;
}

.circle{
  border:5px solid;
  width: 400px;
  height:400px;
  border-radius: 50%;
  border-color: black transparent transparent;
  animation: spin 3s linear infinite;
  position:absolute;
  top:75%;
  left:31%;
}
@keyframes spin {
  100%{transform:rotate(360deg)}
}

.nineteen {
  color: white;
  font-size:19px;
  font-family: "optima", sans-serif;
    text-align: center;
    font-style: bold;
    letter-spacing: 0.1em;
    line-height: 2em;
    position: absolute;
    left: 35.3%;
    top:77%;
    z-index: 2;
}

.twenty {
  color: white;
  font-size:19px;
  font-family: "Akzidenz-Grotesk", sans-serif;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 2em;
    position: absolute;
    left: 34.8%;
    top:80%;
    z-index: 2;
}

.twentyone {
  color: black;
  font-size:19px;
  font-family: "Akzidenz-Grotesk", sans-serif;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 2em;
    position: absolute;
    left: 26%;
    top:83%;
    z-index: 2;
}

.twentytwo{
  color: black;
  font-size:19px;
  font-family: "Akzidenz-Grotesk", sans-serif;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 2em;
    position: absolute;
    left: 26%;
    top:84.5%;
    z-index: 2;
}

.twentythree{
  color: black;
  font-size:30px;
  font-family: "times", sans-serif;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 2em;
    position: absolute;
    left: 3%;
    top:87%;
    z-index: 2;
}

.twentyfour{
  color: black;
  font-size:27px;
  font-family: "optima", sans-serif;
    text-align: left;
    letter-spacing: 0.1em;
    line-height: 2em;
    position: absolute;
    left: 3%;
    top:88%;
    z-index: 2;
}

.twentyfive{
  color: black;
  font-size:27px;
  font-family: "Akzidenz-Grotesk", sans-serif;
    text-align: left;
    letter-spacing: 0.1em;
    line-height: 2em;
    position: absolute;
    left: 3%;
    top:89.7%;
    z-index: 2;
}

.twentysix{
  color: black;
  font-size:27px;
  font-family: "Akzidenz-Grotesk", sans-serif;
  font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 2em;
    position: absolute;
    left: 6%;
    top:95%;
    z-index: 2;
}


.twentysix:hover{
color: lightsteelblue;
margin: auto;
}


.horizontalline{
border-left: 6px solid red;
 height: 900px;
 position: absolute;
 left: 43%;
 top: 87%;
 z-index: 2;
 transform: rotate(-90deg);
}

.horizontalline2{
border-left: 6px solid red;
 height: 900px;
 position: absolute;
 left: 43%;
 top: 92.5%;
 z-index: 2;
 transform: rotate(-90deg);
}

/* -THE CREDITS */
.twentyseven{
  color: black;
  font-size:12px;
  font-family: "Akzidenz-Grotesk", sans-serif;
  font-weight: bold;
    text-align: left;
    letter-spacing: 0.08em;
    line-height: 2em;
    position: absolute;
    left: 2%;
    top:105%;
    z-index: 2;
}

.idea{
  color: black;
  font-size:12px;
  font-family: "Akzidenz-Grotesk", sans-serif;
  font-weight: bold;
    text-align: left;
    letter-spacing: 0.08em;
    line-height: 2em;
    position: absolute;
    left: 2%;
    top:108%;
    z-index: 2;
}


/* -ANIMATED WORK STARTS HERE. */
.line-reveal {
  width: 120%;
  height: 3px;
  overflow: hidden;
  position: absolute;
}
.line-reveal.show .overlay {
  -webkit-animation: wipe 3s ease;
          animation: wipe 3s ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
.line-reveal .overlay {
  background: lightsteelblue;
  height: 10px;
  position: absolute;
  top: -5px;
  width: 100%;
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}
.line-reveal .line {
  border: 3px dashed;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#line-a {
  left: 0;
  top: 60%;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
}
#line-a .line {
  border-color: red;
}

#line-b {
  left: 0;
  bottom: 20%;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}
#line-b .line {
  border-color: red;
}

#line-c {
  right: 10%;
  bottom: 0;
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  -webkit-transform: rotate(70deg);
          transform: rotate(70deg);
}
#line-c .line {
  border-color: red;
}

#line-d {
  left: 0;
  top: 90%;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}
#line-d .line {
  border-color: red;
}

#line-e {
  right: 20%;
  bottom: 0;
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}
#line-e .line {
  border-color: red;
}

#line-f {
  left: 0;
  bottom: 68%;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}
#line-f .line {
  border-color: red;
}

@-webkit-keyframes wipe {
  to {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes wipe {
  to {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}
